*{
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one{
    background-color: red;
    border: 0 solid #9B51E0;
    padding: 20px;
}

.box-two{
    background-color: #2d9cdb;
    border: 0 solid #27ae60;
}