p, 
ul {
  border: 20px solid rebeccapurple;
  padding: .5em;
}

span,
li {
  border: 5px solid blue;
  padding: .5em;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.inline {
  display: inline;
}      
    